<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ample -->
      <package
            uri="http://itea.amalthea.org/variability/0.7.0/ample"
            class="org.itea2.amalthea.variability.ample.AmplePackage"
            genModel="model/ample.xcore"/>
   </extension>

</plugin>
