<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.itea2.org/amalthea/variability/dependency/Dependency"
			class = "org.itea2.amalthea.variability.dependency.dependency.DependencyPackage"
			genModel = "model/generated/Dependency.genmodel" />
	</extension>
</plugin>
